.card-size{
    width: auto;
}

.img{
    width: inherit;
    height: 240px;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-img:hover{
    transform: scale(1.2);
    transition: .3s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}